
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
}

input:focus {
	outline-offset: 0;
	outline: none;
}

body {
	width: 250px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.container {
	display: flex;
	flex-direction: column;
	height: 400px;
}

/* banner */
.banner {
	display: flex;
	height: 35px;
	padding: 10px 10px;
	margin-bottom: 2px;
	background-color: #54678c;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    box-shadow: 0 1px 4px 0px #23262f;
}
.banner-btn {
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.banner .center {
	flex: 1;
	color: #fff;
	text-align: center;
	padding: 0 10px;
}

/* list container */
.list-container {
	flex: 1;
	overflow-y: auto;
	color: #4e4e4c;
	background-color: #f6f6f6;
}
.list-container .list,
.input-container {
	display: flex;
	border-bottom: 1px solid #dcdfe4;
	height: 41px;
	line-height: 41px;
}
.list-container .list:last-child {
	border-bottom: none;
}
.list-container .list .ring,
.input-container .ring {
	width: 30px;
	text-align: center;
}
.list-container .list .action,
.input-container .action {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 41px; 
    padding: 7px;
	border-right: 1px solid #f8dbdb;
}
.list-container .list .action .icon-container,
.input-container .action .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
	width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
    border: 1px solid #f6f6f6;
    box-shadow: inset 0 1px 1px 1px #c6c6c6;
}

.action .icon-container .icon {
	display: inline-block;
	width: 12px;
	height: 12px;
    line-height: 12px;
    font-size: 10px;
	border-radius: 50%;
	text-align: center;
	background-color: #ededed;
	cursor: pointer;
    box-shadow: inset 0px 0px 2px 2px #bfbfbf, 0px 0px 0px 1px #bfbfbf;
}
.list-container .list.done .action .icon-container .icon {
	color: #4d8749;
	background-color: #d3f7cc;
    box-shadow: inset 0px 0px 2px 2px #4d8749, 0px 0px 0px 1px #4d8749;
}
.list-container .list.undone .action .icon-container .icon {
	background-color: #fed2d2;
    box-shadow: inset 0px 0px 2px 2px #b35d5d, 0px 0px 0px 1px #b35d5d;
}


.list-container .list .content,
.input-container .content {
	flex: 1;
	padding: 0 10px;
	color: #90908e;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list-container .list.done .content {
	text-decoration: line-through;
}
.list-container .list.undone .content {
	color: #e1635a;
}

/* input container */
.input-container .action .icon-container  {
	box-shadow: inset 0 1px 1px 0px #d7d7d7;
}
.input-container .action .icon-container .icon {
    box-shadow: 0px 0px 1px 0px #cbcbcb;
    background-color: #f1f1f1;
    cursor: default;
}
.input-container {
	border-top: 1px solid #dcdfe4;
	box-shadow: 0 -1px 2px #ddd;
}
.input-container input {
    display: inline-block;
    width: 100%;
    height: 25px;
    padding: 0 5px;
    border: none;
    background-color: #e6e6e6;
    font-style: italic;
    box-shadow: 0 1px 1px #a7a7a7 inset;
}


/* 自定义-webkit-浏览器的右侧滚动条样式
定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */
::-webkit-scrollbar {
  width: 2px;
  background-color: #f6f6f6;
}
/* 定义滚动条轨道 内阴影+圆角 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #f6f6f6;
}
/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #5a6985;
}
/* 修改input placeholder字体颜色 */
::-webkit-input-placeholder { /* WebKit browsers */
　　color: #4e4e4c;
}



